<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_URL</key>
	<string>$(API_URL)</string>
	<key>APP_BUNDLE_SUBFIX</key>
	<string>$(APP_BUNDLE_SUBFIX)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>WCEC</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.8.5</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wcec</string>
				<string>fb437850689974390</string>
				<string>twitterkit-uAPEPvN3K89BX4g9ei8RvvG0R</string>
				<string>line3rdp.$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>7</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>579afec999132516e203ee730769206b0446d447</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>437850689974390</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb-messenger</string>
		<string>fb</string>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>twitter</string>
		<string>twitterauth</string>
		<string>lineauth</string>
		<string>line3rdp.$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LineSDKConfig</key>
	<dict>
		<key>ChannelID</key>
		<string>$(LINE_CHANNEL_ID)</string>
	</dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>You need Usage Camera Description</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>You need Usage Microphone Description</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>You need Usage Photo Library Description</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>You need Usage Photo Description</string>
	<key>PUBNUB_PUBLISH_KEY</key>
	<string>$(PUBNUB_PUBLISH_KEY)</string>
	<key>PUBNUB_SUBSCRIBE_KEY</key>
	<string>$(PUBNUB_SUBSCRIBE_KEY)</string>
	<key>UIAppFonts</key>
	<array>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-BoldItalic.tff</string>
		<string>OpenSans-Regular.tff</string>
		<string>OpenSans-ExtraBold.ttf</string>
		<string>OpenSans-ExtraBoldItalic.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>OpenSans-Semibold.ttf</string>
		<string>OpenSans-SemiboldItalic.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
